<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    {{#if user}}
    {{>tutor-sidenav}}
    {{/if}}
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div class="container-fluid">
             <div class="row p-5">
                <div class="col-md-7">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>:</th>
                            <td>{{studentId.Name}}</td>
                        </tr>
                        {{!-- <tr>
                            <th>Roll No</th>
                            <th>:</th>
                            <td>{{studentId}}</td>

                        </tr> --}}
                        <tr>
                            <th>Mobile</th>
                            <th>:</th>
                            <td>{{studentId.Mobile}}</td>

                        </tr>
                        <tr>
                            <th>Email</th>
                            <th>:</th>
                            <td>{{studentId.Email}}
                            </td>
                        </tr>

                    </table>

                </div>
                <div class="col-md-5 pro-pic">
                    {{#if studentId.image}}

                    <img src='{{studentId.imagelocation}}' alt="" style="border-radius: 50%;">

                    {{else}}
                    <img src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png"
                        style="width: 8rem; height: 8rem;" alt="">
                    {{/if}}
                </div>
                <hr class="mt-2">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">
                        <h3>Attendance</h3>
                    </div>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-responsive table-hover table-striped table-dark text-center">
                        <thead>
                            <tr>

                                <th scope="col">Date</th>
                                
                                <th scope="col">Attendance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each attendance}}
                            <tr>

                                <td>{{this.Attendance.Date}}</td>
                                
                                <td>{{this.Attendance.Attendance}}</td>
                            </tr>
                            {{/each}}
                            
                           
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <h3>Assignment</h3>
                    </div>
                    <table class="table table-responsive table-hover table-dark text-center">
                        <thead>
                            <tr>

                                <th scope="col">Topic</th>
                                <th scope="col">File</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each studentId.Assignment}}
                            <tr>

                                <td>{{this.Topic}}</td>
                                <td><a href="{{this.FileAddress}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-fill"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0H4zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z" />
                                    </svg></a></td>
                                <td>{{this.PostAt}}</td>
                            </tr>
                            {{/each}}
                           
                        </tbody>
                    </table>
                </div>
            </div>
    <!-- /#page-content-wrapper -->

</div>
</div>
<!-- /#wrapper -->



