<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    {{#if user}}
    {{>tutor-sidenav}}
    {{/if}}
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div class="container-fluid">
        <div class="text-center mt-5 mb-5">  <h3>Profile</h3></div>
         
            <div class="row">
                <div class="col-md-12 col-lg-6 pro-pic">
                    {{#if tutorprofil.image}} 
                    <img src='/uploded/tutor/profile/{{tutorprofil._id}}{{tutorprofil.image.name}}'alt="" style="border-radius: 50%;">   
                    {{else}}
                     <img src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="">   
                    {{/if}}                                                      
                </div>
                <div class="col-md-12 col-lg-6 profile-details">                   
                    <table>
                        <tr>
                            <th>Name:</th>
                            <td>{{tutorprofil.Name}}</td>
                        </tr>
                        <tr>
                            <th>Job:</th>
                            <td>{{tutorprofil.Job}}</td>
                        </tr>
                         <tr>
                            <th>Genter:</th>
                            <td>{{tutorprofil.Gender}}</td>

                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>{{tutorprofil.Address}}
                            </td>
                        </tr>
                        <tr>
                            <th>Mobile:</th>
                            <td>{{tutorprofil.Mobile}}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{tutorprofil.Email}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 profil-edit">
                   
                    <a href="/tutor-profile-edit" class="btn btn-success">Edit</a>
                </div>
            </div>
    <!-- /#page-content-wrapper -->
</div>
</div>
<!-- /#wrapper -->


