<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  {{#if students}}
  {{>student-sidenav}}
  {{/if}}
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div class="container-fluid">
    <div class="row atttendance">
      <div class="col-lg-12 m-2 ">
        <h3>Attendance</h3>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-12 ">
        <div>
          <table class="center">
            <tr>
              <th>Total Days</th>
              <th>:</th>
              <td>{{totalCound.AttendanceCound}}</td>
            </tr>
            <tr>
              <th>Present</th>
              <th>:</th>
              <td>{{totalPresentCound.Presend}}</td>
            </tr>
            <tr>
              <th>Absent</th>
              <th>:</th>
              <td>{{totalAbsentCound.Absend}}</td>
            </tr>
            <tr>
              <th>Percentage</th>
              <th>:</th>
              <td>{{persentageCound}}%
              </td>
            </tr>
            <tr>
              <th>Class Avarage</th>
              <th>:</th>
              <td>{{averageCound}}%
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

          <table class="table table-bordered table-striped mb-0 text-center">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Attendance</th>
              </tr>
            </thead>
            <tbody>
              {{#each attendance}}
              <tr>
                <td>{{this.Attendance.Date}}</td>
                <td>{{this.Attendance.Attendance}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
</div>
<!-- /#wrapper -->